
/* Notification center */

.blurredBG, #main_window, .blurredBG.low, .blurredBG.normal {
    background: rgba(34, 34, 34, 1);
    border: 2px solid #DC2625;
}

.noti-center.time {
    font-size: 32px;
}

/* Notifications */

.title {
    font-weight: bold;
    font-size: 16px;
}

.appname {
    font-size: 12px;
}

.time {
    font-size: 12px;
}

.blurredBG.notification {
    background:  rgba(34, 34, 34, 1);
    border: 2px solid #DC2625; 
}

.blurredBG.notification.critical {
    background: rgba(34, 34, 34, 1);
    border: 2px solid #770000;
}

.notificationInCenter {
    background: rgba(51, 51, 51, 1);
    border: 2px solid #DC2625;
    color: #bbbbbb;
}

.notificationInCenter.critical {
    border: 2px solid #770000;
}

/* Labels */

label {
    color: #cccccc;
}

label.notification {
    color: #cccccc;
}

label.critical {
    color: #770000;
}
.notificationInCenter label.critical {
    color: #770000;
}


/* Buttons */

button {
    background: #333333;
    color: #bbbbbb;
    border-radius: 0px;
    border-width: 1px;
    border: 1px solid #bbbbbb;
    background-position: 0px 0px;
    text-shadow: none;
}

button:hover {
    border-radius: 0px;
    background: rgba(68, 68, 68, 1);
    border: 1px solid #DC2625;
    color: #eeeeee;
}


/* Custom Buttons */

.userbutton {
    background: rgba(51,51,51, 1);
}

.userbuttonlabel {
    color: #bbbbbb;
    font-size: 12px;
}

.userbutton:hover {
    background: rgba(68, 68, 68, 1);
}

.userbuttonlabel:hover {
    color: #eeeeee;
}

button.buttonState1 {
    background: rgba(220,38,37,1);
}

.userbuttonlabel.buttonState1 {
    color: #eeeeee;
}

button.buttonState1:hover {
    background: rgba(220,38,37, 1);
}

.userbuttonlabel.buttonState1:hover {
    color: #eeeeee;
}

button.buttonState2 {
    background: rgba(220,38,37,1);
}

.userbuttonlabel.buttonState2 {
    color: #eeeeee;
}

button.buttonState2:hover {
    background: rgba(220,38,37, 1);
}

.userbuttonlabel.buttonState2:hover {
    color: #eeeeee;
}


/* Images */

image.deadd-noti-center.notification.image {
    margin-left: 20px;
}
